form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

input {
    width: 50vw;
    background-color: white;
    border: 2px solid black;
    margin-bottom: 5px;
}

label {
    margin-bottom: 10px;
}

#goal3 {
    margin-bottom: 25px;
}